body {
    margin: 0;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Apple SD Gothic Neo,arial,sans-serif;
    background-color: #f4f4f4;
}

#top {
    background-color: #000;
    color: #fff;
}

#navBar {
    padding: 0.5rem;
    display: flex;
    border-bottom: 1px solid #888888;
    align-items: center;
    gap: 0.5rem;
}

#optionBar {
    margin: 0.5rem 1rem 0.2rem 1rem;
    display: flex;
    align-items: center;
}

#assignedCheckBox:disabled + label {
    color: #888;
}

#reloadAssignedButton {
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #0000;
    cursor: pointer;
    background-image: url("/src/assets/reload.svg");
    background-repeat: no-repeat;
    background-size: 0.6rem;
    background-origin: content-box;
    background-position: center;
}

#reloadAssignedButton:hover {
    border: 1px solid #cde;
    background-color: #cde8;
    filter: none;
}

#openDirButton {
    width: 1.3rem;
    height: 1.3rem;
    display: flex;
    justify-content: end;
    align-items: start;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #0000;
    cursor: pointer;
    background-image: url("/src/assets/dir.svg");
    background-repeat: no-repeat;
    background-size: 1.1rem;
    background-origin: content-box;
    background-position: center;
}

#openDirButton:hover {
    border: 1px solid #cde;
    background-color: #cde8;
}

#openDirButton[data-type="disabled"] {
    filter: grayscale();
    cursor: default;
    border: 0;
    background-color: #0000;
}

#newDir {
    font-size: 0.8rem;
    color: #4488aa;
    -webkit-user-select: none;
}

#openDirButton:not([data-type="new"]) #newDir {
    display: none;
}

#middle {
    flex: 1;
    height: 10rem;
    border-bottom: 1px solid #888888;
    display: flex;
    width: 100%;
}

#bottom {
    padding: 0.25rem 0.5rem;
}

#left {
    border-right: 1px solid #888888;
    display: flex;
    flex-direction: column;
}

#right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#navButtons {
    width: 16rem;
    display: flex;
    gap: 0.5rem;
}

#currentPath {
    height: 1.5rem;
    font-size: 1.2rem;
    flex: 1;
    display: flex;
    color: #8ab4f8;
    background-color: #222;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 4px 6px;
}

#urlLink {
    width: 1.4rem;
    height: 1.4rem;
    box-sizing: border-box;
    cursor: pointer;
    background-image: url("/src/assets/link.svg");
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-origin: content-box;
    background-position: center;
    filter: invert() brightness(0.5);
}

#urlLink:hover {
    filter: invert() brightness(0.8);
}

#tabSwitchButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    gap: 1px;
    padding-bottom: 1px;
    border-bottom: 1px solid #888;
}

#forgeRoot {
}

.tabSwitchButton {
}

#recentPaths {
    width: 16rem;
    overflow-y: auto;
    word-break: break-word;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

#pinned {
}

#recent {
    display: none;
}

.recentPath {
    font-size: 0.8rem;
}

#lists {
    flex: 1;
    display: flex;
    gap: 0.7rem;
}

.list {
    border: 1px solid #888888;
    overflow-y: auto;
}

#entryList {
    flex: 1;
    overflow-y: auto;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: #bbb;
    border-radius: 3px;
    margin: 0 1rem;
}

#elemList {
    flex: 1;
}

.divider {
    flex: 1;
}

.hidden {
    display: none !important;
}

#addProgramLink {
    color: #224488;
    text-decoration: underline;
    user-select: none;
    -webkit-user-select: none;
}

.link {
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.button {
    cursor: pointer;
}

.button.invalid {
    cursor: default;
}

#programsBar {
    position: relative;
    display: flex;
    margin: 0.5rem 1rem;
    height: 2rem;
}

#addProgramLinkPopup {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0.2rem;
}

#addProgramLinkPopup.hidden {
    visibility: hidden;
}

.addProgramPopupItem {
}

#newElementButtons {
    display: flex;
    gap: 0.5rem;
}

.newElementButton {
    border: 1px solid black;
    border-radius: 2px;
    padding: 4px;
    height: 1rem;
}

.newElementButton.invalid {
    opacity: 0.3;
}

.newElementButton:not(.invalid):hover {
    background-color: #cde8;
}

#statusBar {
    height: 1rem;
}

#statusBar.error {
    color: #f44;
}

.element {
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: #e0e0e0;
}

.sceneListExpander {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    background-image: url("/src/assets/down-arrow.svg");
    background-repeat: no-repeat;
    background-size: 8px;
    background-origin: content-box;
    background-position: center;
    rotate: 270deg;
    width: 1rem;
    height: 1rem;
    margin-right: 2px;
}

.sceneListExpander[data-showing="1"] {
    rotate: 0deg;
}

.sceneListExpander:hover {
    border: 1px solid #8ab8;
    border-radius: 2px;
    background-color: #acd8;
}

.sceneList {
    flex: 1;
}

.scene {
    display: flex;
}

.scene.selected {
    background-color: #cde !important;
    outline: 1px solid #9ab;
}

.scene:not(.latest) {
    padding-left: 1rem;
}

.item {
    padding: 0.5rem 0.2rem;
    background-color: #fafafa;
}
